{% extends "_layouts/main" %}

{% block main %}

  <ul class="breadcrumbs">
    <li>
      <a href="../recipes">Recipes</a>
    </li>
    <li>Perfect Espresso</li>
  </ul>
  <div class="full-bleed-header" style="background-size: 100%; height: 300px; background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(/images/drinks/espresso-shot.jpg); background-repeat: no-repeat, repeat;">
    <div class="page-title text-center">
      <h2 class="logo">
        <span class="scripty">Perfect Espresso</h2>
        <p class="tagline reverse">Espresso</p>
      </div>
    </div>
    <div class="row">
      <div class="intro large-12 small-12 columns text-center">
        <p>The perfect shot of espresso. We've been perfecting it for years and now you can make it at home, too.</p>
      </div>
    </div>
    <div class="row">
      <div class="panel radius snapshot large-12 small-12 columns">
        <h3>Recipe Snapshot</h3>
        <ul>
          <li>Difficulty: Moderate</li>
          <li>Time Required: 10 minutes</li>
          <li>Cost: varies</li>
          <li>Yield: one double shot</li>
        </ul>
      </div>
      <div class="photo-inset full">
        <!-- full, left, right -->
        <img src="/images/drinks/espresso-shot.jpg" alt=""/>

        <p class="caption">
          <small>Photo caption here</small>
        </p>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur deleniti dignissimos est explicabo, iure laborum minima natus nihil qui repudiandae, velit voluptatum! Animi id illo illum in maiores velit?</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur deleniti dignissimos est explicabo, iure laborum minima natus nihil qui repudiandae, velit voluptatum! Animi id illo illum in maiores velit? Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Animi aspernatur deleniti dignissimos est explicabo, iure laborum minima natus nihil qui repudiandae, velit voluptatum! Animi id illo illum in maiores velit?</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur deleniti dignissimos est explicabo, iure laborum minima natus nihil qui repudiandae, velit voluptatum! Animi id illo illum in maiores velit?</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur deleniti dignissimos est explicabo, iure laborum minima natus nihil qui repudiandae, velit voluptatum! Animi id illo illum in maiores velit?</p>

      <table width="100%">
        <tr>
          <th width="20%">Amount</th>
          <th>Ingredient</th>
        </tr>
        <tr>
          <td>18 grams</td>
          <td>Espresso Beans</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Espresso Machine</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Espresso Cup</td>
        </tr>
      </table>
      <div class="steps">
        <h3>Preparation</h3>
        <ol>
          <li>Something here</li>
          <li>Something else here</li>
        </ol>
      </div>
      <div class="photo-inset full">
        <!-- full, left, right -->
        <img src="/images/drinks/espresso-shot.jpg" alt=""/>

        <p class="caption">
          <small>Photo caption here</small>
        </p>
      </div>
      <div class="steps">
        <h3>Grinding</h3>
        <ol>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt laborum magni quia saepe suscipit? Ad aspernatur assumenda dolores doloribus eum facere, illo itaque minima quo repellat sit sunt ut voluptas?
          </li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at consequuntur dignissimos distinctio dolor doloremque eius esse expedita iste itaque libero maiores modi odit perferendis quam quidem, repudiandae, soluta ullam.
          </li>
        </ol>
      </div>
      <div class="panel tip">
        <p>Don't forget to put some tip text here to point out something imporant!</p>
      </div>
      <div class="steps">
        <h4>Brewing</h4>
        <ol>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aliquam amet consectetur consequatur cum, dicta ducimus expedita itaque mollitia odio placeat quae qui quis quos soluta totam ut velit!
          </li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorem enim et, incidunt laudantium praesentium quam quibusdam? A eos, illum. Cumque distinctio dolorum fugiat modi neque odit quae quaerat vel.
          </li>
        </ol>
      </div>
      <div class="panel tip">
        <p>Don't forget to put some tip text here to point out something imporant!</p>
      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur deleniti dignissimos est explicabo, iure laborum minima natus nihil qui repudiandae, velit voluptatum! Animi id illo illum in maiores velit?</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur deleniti dignissimos est explicabo, iure laborum minima natus nihil qui repudiandae, velit voluptatum! Animi id illo illum in maiores velit?</p>
    </div>
  </div>

{% endblock %}
